@import "../../global.scss";




.portfolioList{
    font-size: 20px;
    color: white;
    margin: 5px;
    padding: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    @media(max-width:768px){
        margin: 1px; 
        font-size: 12px;

    }
    

    &.active{
        background-color: $mainColor;
        color: #e2a177;
    }
}
