@import "../../global.scss";




.portfolioList{
    font-size: 12px;
    margin: 5px;
    padding: 0.7em;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $mainColor;
        color: white;
    }
}
